/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
/*   padding-top: 3rem;
  padding-bottom: 3rem; */
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
  background-color: #777;
}
.carousel-item > img,
.carousel-item > video {
  position: absolute;
  top: 0;
  left: 0;
/*   min-width: 100%; */
/*   height: 100vh; */
/*   max-width:100%; */
  object-fit:cover;
  width:100%;
}

@media (max-width: 770px) {
  .carousel-item > img {
    max-width:auto;
  }
}

#blog-cover {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-img: url("https://cdn.glitch.com/83b027a9-76e3-45d8-ad5b-27081508c668%2Fimg.png?v=1572400174202");
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  #blog-cover {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-img: url("https://cdn.glitch.com/83b027a9-76e3-45d8-ad5b-27081508c668%2Fimg.png?v=1572400174202");
    }
}


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  #blog-cover {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-img: url("https://cdn.glitch.com/83b027a9-76e3-45d8-ad5b-27081508c668%2Fimg.png?v=1572400174202");
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #C6C5C3;
}



@media (max-width: 770px) {
  .footer {
    height:85px;
  }
  .footerdiv {
    top:20%;
    left:15%;
  }

  #blog-cover {
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-img: url("https://cdn.glitch.com/83b027a9-76e3-45d8-ad5b-27081508c668%2Fimg.png?v=1572400174202");
    }
}



