/* .navbar {
  padding: 0.5rem 0px 0.5rem 1rem;
} */

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  font-family: 'Rasa', serif;
  font-size: 20px;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

.boardimg {
  width:200px;
  height:200px
}

.boardcontainer {
  margin-left:1%;
  margin-right:1%;
  margin-top:1%;
  margin-bottom:1%;
  padding:0;
  min-width:200px;
}

.boarddescription {
  text-align:center;
  width:100%;
}

.membersimg {
  width:200px;
  height:200px
}

.memberscontainer {
  margin-left:1%;
  margin-right:1%;
  margin-top:1%;
  margin-bottom:1%;
  padding:0;
  min-width:200px;
}

.membersdescription {
  text-align:center;
  width:100%;
}

@media screen and (max-width: 420px) {
  .boardcontainer {
  left:50%;
  transform: translate(-50%,-0%);
  }
  
  .memberscontainer {
  left:50%;
  transform: translate(-50%,-0%);
  }
}


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~flex stuff for Spring2018Shows*/
* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~flex stuff for Spring2018Shows*/



.home-titles h1 {
  font-family: 'Rasa', serif;
  font-weight: bolder;
  font-size: 4rem;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
}

.about-content {
  font-family: 'Rasa', serif;
  font-size: 20px;
  color: #5F5F5F;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Show Pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.show-banner { 
  position: relative; 
  text-align: center; 
}

.show-title { 
  font-family: 'Rasa', serif;
  font-weight: bolder;
  font-size: 100px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
  position: absolute; 
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-time {
  font-family: 'Rasa', serif;
  font-size: 50px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.card { 
  margin-top: 40px;
  border: none;
}

.show-row > .col-lg-4 {
  padding: 0 8px;
}

.show-row > .col-sm-6 {
  padding: 0 8px;
}

.show-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.col-lg-4 {
  float: left;
  width: 33%;
}

.col-sm-6 {
  float: left;
  width: 33%;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  

/* ~~~~ end Show Pages ~~~~ */

.event-pic {
  margin-top: 40px;
  margin-bottom: 50px;
  opacity: .7;
}

.event-pic:hover {
  opacity: 1;
}
  
a {
  text-decoration: none;
  color: #5F5F5F
}

a:hover {
  color: #82D3F0;
  text-decoration: none;
}



/* ~~~~ footer ~~~~ */

.fa {
  padding: 8px;
  font-size: 20px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #C6C5C3;
}

.fa-google {
  background: white;
  color: #C6C5C3;
}

.fa-instagram {
  background: white;
  color: #C6C5C3;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.footer-text {
  color: white;
  font-family: 'Rasa', serif;
  font-size: 18px;
}


/* ~~~~ end footer ~~~~ */
