/* .navbar {
  padding: 0.5rem 0px 0.5rem 1rem;
} */

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  font-family: "Rasa", serif;
  font-size: 20px;
  opacity: 0.9;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

{
  margin-left: 20px;
  margin-right: 20px;
  height: 25%;
}

@media screen and (max-width: 770px) {
  .navbar {
    position: relative;
  }
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}
.img-wrap {
  position: relative;
}
.img-description {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0px;
  bottom: -10px;
  left: 0px;
  right: 0px;
  padding: 10px;
  text-align: center;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 0.9;
}

.boardimg {
  width: 185px;
  height: 185px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: 50% 20%;
}

/* .boardimg:hover .img_description{
  opacity: 1;
} */

.boardcontainer {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
  max-width: 200px;
}

.boarddescription {
  text-align: center;
  width: 100%;
}

.boardtitle {
  font-weight: bold;
}

.membersimg {
  margin-bottom: 10px;
  width: 185px;
  height: 185px;
  overflow: hidden;
}

.memberscontainer {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
  max-width: 200px;
}

.membersdescription {
  text-align: center;
  width: 100%;
}

.memberstitle {
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .boardcontainer {
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .memberscontainer {
    left: 50%;
    transform: translate(-50%, -0%);
  }
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~flex stuff for Spring2018Shows*/
* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%; /* FIX WHEN CHANGING THE NUMBER OF ARTICLES!!! */
  padding: 0 4px;
}

.col-six,
.col-1-2 {
	width: 50%;
	vertical-align: middle;
	overflow: hidden;
	object-fit: scale-down;
	justify: center;
}

.column-3 {
    width: 33.33%;
    vertical-align: middle;
	overflow: hidden;
	object-fit: scale-down;
	justify: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~flex stuff for Spring2018Shows*/

.home-titles h1 {
  font-family: "Rasa", serif;
  font-weight: bolder;
  font-size: 4rem;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
}

.about-content {
  font-family: "Rasa", serif;
  font-size: 20px;
  color: #5F5F5F;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Show Pages ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.show-banner {
  position: relative;
  text-align: center;
}

.show-title {
  font-family: "Rasa", serif;
  font-weight: bolder;
  font-size: 100px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-time {
  font-family: "Rasa", serif;
  font-size: 50px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.card {
  margin-top: 40px;
  border: none;
}

.show-row > .col-lg-4 {
  padding: 0 8px;
}

.show-row > .col-sm-6 {
  padding: 0 8px;
}

.show-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.col-lg-4 {
  float: left;
  width: 33%;
}

.col-sm-6 {
  float: left;
  width: 33%;
}

/* The Modal (background) */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
} */

/* Modal Content */
/* .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
} */

/* The Close Button */
/* .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
} */

/* .close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} */

/* Hide the slides by default */
/* .mySlides {
  display: none;
} */

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ~~~~ end Show Pages ~~~~ */

.event-pic {
  margin-top: 40px;
  margin-bottom: 50px;
  opacity: 0.7;
}

.event-pic:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #5F5F5F;
}

a:hover {
  color: #82D3F0;
  text-decoration: none;
}

/* ~~~~ footer ~~~~ */

.fa {
  padding: 8px;
  font-size: 20px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top=50%;
  border-radius: 50%;
  overflow: auto;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #C6C5C3;
}

.fa-google {
  background: white;
  color: #C6C5C3;
}

.fa-instagram {
  background: white;
  color: #C6C5C3;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.footer-text {
  color: white;
  font-family: "Rasa", serif;
  font-size: 14px;
  line-height: 1.3;
}

.col-signoff {
    width:
}

/* ~~~~ end footer ~~~~ */

/* ~~~~ blog entries ~~~~ */
.entry {
  margin-bottom: 40px;
  padding: 10px;
}

.entry-thumb,
.entry-text {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.entry-thumb {
  position: relative;
  overflow: hidden;
}

.entry-thumb .thumb-link img {
  vertical-align: bottom;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.entry-thumb .thumb-link::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.entry-thumb .thumb-link::after {
  content: "...";
  font-family: georgia, serif;
  font-size: 4.5rem;
  z-index: 1;
  display: block;
  height: 90px;
  width: 90px;
  letter-spacing: -2.6px;
  line-height: 90px;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.entry-thumb:hover .thumb-link::before {
  opacity: 1;
  visibility: visible;
}

.entry-thumb:hover .thumb-link::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.entry-thumb:hover .thumb-link img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.entry-text {
  padding: 1.8rem 2.8rem 3.6rem;
  font-size: 0.8rem;
  background-color: white;
}

.entry-header .entry-title {
  font-size: 2.5rem;
  line-height: 1.32;
  margin-bottom: 1.8rem;
}
.entry-header .entry-title a,
.entry-header .entry-title a:visited {
  color: #000000;
}

.entry-header .entry-meta {
  font-family: "muli-regular", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
.entry-header .entry-meta a,
.entry-header .entry-meta a:visited {
  color: #000000;
}

.entry-header .cat-links a::after {
  content: ", ";
}

.entry-header .cat-links a:last-child::after {
  display: none;
}

.entry-excerpt {
  font-size: 1.5rem;
  line-height: 2.7rem;
  color: #999999;
}

.entry-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**
 * pagination - (_pagination.scss)
 * ------------------------------------------------------------------- */
.pagination {
  margin: 3rem auto;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination .page-numbers {
  font-family: "montserrat-bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
  padding: 6px 12px;
  height: 36px;
  margin-right: 6px;
  margin-bottom: 9px;
  color: #2b2b2b;
  background-color: #dbdbdb;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pagination .page-numbers:hover {
  background: #000000;
  color: white;
}

/* ===================================================================
 *  11. content wrap - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#content-wrap {
  margin-top: 6.6rem;
}

#content-wrap .row {
  max-width: 950px;
}

#content-wrap .row.wide {
  max-width: 1300px;
}

#content-wrap .row.narrow {
  max-width: 800px;
}

#content-wrap .content-media {
  position: relative;
  margin-bottom: 4.8rem;
}

#content-wrap .content-media img {
  vertical-align: bottom;
}

#content-wrap .primary-content {
  padding-left: 6rem;
  padding-right: 6rem;
}

#content-wrap .primary-content img {
  max-width: 910px;
  margin: 3rem 0 3rem 0rem;
}

#content-wrap .primary-content img.pull-right {
  margin: 0.9rem 0 0 2.4rem;
  max-width: 100%;
}

#content-wrap .primary-content img.pull-left {
  margin: 0.9rem 2.4rem 0 0;
  max-width: 100%;
}

#content-wrap .entry-title,
#content-wrap .page-title {
  font-size: 3.3rem;
  line-height: 1.364;
  margin-bottom: 0.9rem;
}

/* responsive:
 * content wrap
 * ------------------------------------------------------------------- */
/*tablet landscape*/
@media only screen and (max-width: 1024px) {
  #content-wrap .row {
    max-width: 880px;
  }
  #content-wrap .primary-content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  #content-wrap .primary-content img {
    max-width: 844px;
    margin: 3rem 0 3rem 0rem;
  }
  .footer-text {
    line-height: 1.5;
  }
  .entry-excerpt {
    font-size: 0.8rem;
    line-height: 2.7rem;
    color: #999999;
    max-height: 1000px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .entry-title {
    font-size: .6rem;
  }
}


@media only screen and (max-width: 960px) {
  #content-wrap .row {
    max-width: 880px;
  }
  .footer-text {
    line-height: 1.5;
  }
  #content-wrap .primary-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #content-wrap .primary-content img {
    max-width: 100%;
    margin: 3rem 0 3rem 0;
  }
  .entry-text {
  padding: 1.8rem 2.8rem 3.6rem;
  font-size: 0.6rem;
  background-color: white;
  }

  .entry-excerpt {
    font-size: 1.5rem;
    line-height: 2.7rem;
    color: #999999;
    max-height: 960px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .entry-title {
    font-size: .6rem;
  }
}

/*tablet*/
@media only screen and (max-width: 768px) {
  #content-wrap {
    margin-top: 4.8rem;
  }
  #content-wrap .primary-content {
    padding-left: 0;
    padding-right: 0;
  }
  #content-wrap .entry-title,
  #content-wrap .page-title {
    font-size: 3rem;
  }
  .footer-text {
    line-height: 1.5;
  }
  .entry-text {
  padding: 1.8rem 2.8rem 3.6rem;
  font-size: 0.8rem;
  background-color: white;

  .entry-excerpt {
    font-size: 0.8rem;
    line-height: 2.7rem;
    color: #999999;
    max-height: 700px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .entry-title {
    font-size: .6rem;
  }
}

/*iphoneX*/
@media only screen and (max-width: 812px) {
  #content-wrap {
    margin-top: 4.8rem;
  }
  #content-wrap .primary-content {
    padding-left: 0;
    padding-right: 0;
  }
  #content-wrap .entry-title,
  #content-wrap .page-title {
    font-size: 3rem;
  }
  .footer-text {
    line-height: 1.5;
  }
  .entry-text {
  padding: 1.8rem 2.8rem 3.6rem;
  font-size: 0.8rem;
  background-color: white;

  .entry-excerpt {
    font-size: 0.8rem;
    line-height: 2.7rem;
    color: #999999;
    max-height: 700px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .entry-title {
    font-size: .6rem;
  }
}


/*iphone 6, 7, 8 plus*/
@media only screen and (max-width: 736px) {
  #content-wrap {
    margin-top: 4.8rem;
  }
  #content-wrap .primary-content {
    padding-left: 0;
    padding-right: 0;
  }
  #content-wrap .entry-title,
  #content-wrap .page-title {
    font-size: 3rem;
  }
  .footer-text {
    line-height: 1.5;
  }
  .entry-text {
  padding: 1.8rem 2.8rem 3.6rem;
  font-size: 0.8rem;
  background-color: white;

  .entry-excerpt {
    font-size: 0.6rem;
    line-height: 2.7rem;
    color: #999999;
    max-height: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .entry-title {
    font-size: .6rem;
  }
}


/*iphone 6, 7, 8*/
@media only screen and (max-width: 667px) {
  #content-wrap .entry-title,
  #content-wrap .page-title {
    font-size: 2.2rem;
  }
  .footer-text {
    line-height: 1.5;
  }
  .entry-text {
  padding: 1.8rem 2.8rem 3.6rem;
  font-size: 0.4rem;
  background-color: white;
  }
  .entry-excerpt {
    font-size: 0.8rem;
    line-height: 2.7rem;
    color: #999999;
    max-height: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .entry-title {
    font-size: .6rem;
  }
}

/* ===================================================================
 *  14. blog styles
 *
 * ------------------------------------------------------------------- */

/* single post - (_blog.scss) 
 * ------------------------------------------------------------------- */
.blog-single .entry-meta {
	font-family: "muli-regular", sans-serif;
	font-size: 1.5rem;
	list-style: none;
	margin-left: 0;
	margin-bottom: 5.4rem;
	color: #999999;
}
.blog-single .entry-meta a,
.blog-single .entry-meta a:visited {
	color: #000000;
}

.blog-single .entry-meta li {
	display: inline-block;
	padding-left: 0;
}

.blog-single .entry-meta .date {
	margin-right: 1rem;
}

.blog-single .entry-meta .cat a {
	margin-right: 5px;
}

.blog-single .entry-meta .cat a:last-child {
	margin-right: 0;
}

.blog-single .entry-meta .cat a::after {
	content: ",";
}

.blog-single .entry-meta .cat a:last-child::after {
	content: none;
}

.blog-single .tags {
	margin: 6rem 0 4.2rem;
}

.blog-single .tags span {
	color: #151515;
	margin-right: 1rem;
	font-size: 1.5rem;
	font-family: "montserrat-bold", sans-serif;
}

.blog-single .tags a {
	color: #999999;
	margin-right: 1rem;
}

.blog-single .author-profile {
	margin-top: 9rem;
	padding-left: 9rem;
	position: relative;
	margin-bottom: 5%;
}

.blog-single .author-profile a,
.blog-single .author-profile a:visited {
	color: #000000;
}

.blog-single .author-profile img {
	margin: 0.6rem 0 0 0 !important;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.blog-single .author-profile p {
	margin-bottom: 1.2rem;
}

.blog-single .author-profile .author-social {
	list-style: none;
	margin-left: 0;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.blog-single .author-profile .author-social li {
	display: inline-block;
	margin-right: 0.8rem;
	padding-left: 0;
}

.blog-single .author-profile .author-social a {
	color: #999999;
}

.blog-single .pagenav {
	padding-top: 1.5rem;
	margin: 12rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-single .pagenav div {
	padding-top: 1.5rem;
	float: left;
	width: 50%;
}

.blog-single .pagenav a {
	font-size: 2.1rem;
	line-height: 1.571;
	font-family: "montserrat-bold", sans-serif;
	border: none;
	color: #000000;
}

.blog-single .pagenav a span {
	font-size: 1.5rem;
	line-height: 3rem;
	font-family: "muli-regular", sans-serif;
	display: block;
	margin-bottom: 1.5rem;
	color: #999999;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog-single .pagenav a:hover span {
	color: #000000;
}

/* responsive:
 * single post
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	.blog-single .entry-meta {
		font-size: 1.5rem;
	}

	.blog-single .pagenav div {
		float: none;
		width: 100%;
	}

	.blog-single .pagenav div:first-child {
		margin-bottom: 0.9rem;
	}

}

@media only screen and (max-width:600px) {
	.blog-single .author-profile {
		padding-left: 0;
		text-align: center;
	}

	.blog-single .author-profile img {
		position: static;
		width: 6.6rem;
		height: 6.6rem;
		margin: 0 0 0.6rem 0 !important;
	}

	.blog-single .pagenav {
		text-align: center;
	}

}

img.pull-right {
	margin: 0.9rem 0 0 2.4rem;
}

img.pull-left {
	margin: 0.9rem 2.4rem 0 0;
}

#content-wrap .content-media img {
	vertical-align: bottom;
}

#content-wrap .primary-content {
	padding-left: 6rem;
	padding-right: 6rem;
}

#content-wrap .primary-content img {
	max-width: 910px;
	margin: 3rem 0 3rem 0rem;
}

#content-wrap .primary-content img.pull-right {
	margin: 0.9rem 0 0 2.4rem;
	max-width: 100%;
}

#content-wrap .primary-content img.pull-left {
	margin: 0.9rem 2.4rem 0 0;
	max-width: 100%;
}

.blog-img-p {
  margin: auto;
  width: 100%;
  text-align: center;
}

.blog-img {
    object-fit: contain;
    object-position: center center;
    max-height: 450px;
    height: 100%;
    display: inline-block;
    /*margins: 0px;
    width: 100%;
    float: center;
    object-fit: contain;
    overflow: hidden;*/

}

@media screen and (max-width: 420px) {
  .blog-img-p {
    text-align: center:
    margins: auto;
    vertical-align: center;

  }
  .blog-img {
    margins: auto;
    padding: 3px;
    width: 410px;
  }
  #travel-img-desc {
    visibility: hidden;
  }

}
