.navbar {
  padding: 0.5rem 0px 0.5rem 1rem;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

.boardimg {
  width:175px;
  height:175px
}

.boardcontainer {
  margin-left:1%;
  margin-right:1%;
}

.container {
  margin-left:0px;
  margin-right:0px;
  width:100%;
}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~flex stuff for Spring2018Shows*/
* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/*  ~~~~~~~~~~~~~~~~~~~~~~~~flex stuff for Spring2018Shows*/



.home-titles {
  font-family: 'Rasa', serif;
  font-weight: bolder;
  font-size: 100px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
}

.about-content {
  font-family: 'Rasa', serif;
  font-size: 20px;
  color: #5F5F5F;
  margin-bottom: 60px;
  margin-top: 20px;
}

/* Show Pages */

.show-banner { 
  position: relative; 
  text-align: center; 
}

.show-title { 
  font-family: 'Rasa', serif;
  font-weight: bolder;
  font-size: 100px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
  position: absolute; 
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-time {
  font-family: 'Rasa', serif;
  font-size: 50px;
  color: #CAC8C8;
  line-height: 80px;
  margin-top: 60px;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
  

.event-pic {
  margin-top: 60px;
  height: auto;
}
  