.navbar {
  padding: 1px 0px 1px 5px;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}





.about-title {
  font-family: 'Rasa', serif;
  font-weight: bolder;
  font-size: 200px;
  color: #CAC8C8;
}

.about-content {
  font-family: 'Rasa', serif;
  font-size: 20px;
  color: #5F5F5F;
}